@use "sass:map";
@use "sass:color";
@use "./variables" as v;
@use "./mixins.scss" as m;

footer{
    background:url(../assets/img/footer-pattern.png) no-repeat center top / cover map.get(v.$colors, "primarynew");
    padding:6rem 0;
    color:#B8AEFF;
    font-family: v.$froboto;

    a.nav-link{
        color:#B8AEFF;    
    }

    a{
        &:hover{
            color:map.get(v.$colors, "white")!important;
        }
    }
    .mainrow{
        border-top:1px solid rgba(255,255,255,0.2);
        padding-top:3rem;
        border-bottom:1px solid rgba(255,255,255,0.2);
        padding-bottom:3rem;
        margin-top:3rem;        
    }
    .rightsrow{
        padding-top:5rem;
    }
}

// Scroll to Top Button
.scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: map.get(v.$colors, "secondarynew");
    color: map.get(v.$colors, "white");
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    @include m.box-shadow(0px, 4px, 15px, rgba(227, 30, 37, 0.3));
    @include m.transition(all, 0.3s, ease);

    &:hover {
        background: map.get(v.$colors, "primarynew");
        @include m.translate(0, -5px);
        @include m.box-shadow(0px, 6px, 20px, rgba(32, 24, 93, 0.4));
    }

    &:active {
        @include m.translate(0, -2px);
    }

    .icomoon {
        font-size: 18px;
    }

    @include m.respond-below(map.get(v.$breakpoints, "md")) {
        width: 45px;
        height: 45px;
        bottom: 20px;
        right: 20px;
        font-size: 18px;
    }
}
